{% extends 'bootstrap/base.html' %}

{% block title %}
    {% if title %}{{ title }} - DnD Map{% else %}Welcome to DnD Map{% endif %}
{% endblock %}

{% block styles %}
    {{super()}}
    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin="anonymous"/>
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='dnd_map.css')}}">
	<link rel="stylesheet" href="{{url_for('static', filename='Leaflet.Coordinates-0.1.5.css')}}"/>
{% endblock %}

{% block navbar %}
<nav role="navigation" class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header navbar-left pull-left">
      <a href="{{ url_for('index') }}" class="navbar-brand">DnD Map</a>
    </div>
    <div class="navbar-header navbar-right pull-right">
      <ul class="nav navbar-header pull-left">
{% if current_user.is_anonymous %}
        <li class="pull-left"><a href="url_for('login')" title="Login" style="padding-bottom: 0;">Login</a></li>
{% else %}
        <li class="navbar-text pull-left">{{ current_user.firstname }}</li>
        <li class="dropdown pull-left">
          <a href="#" data-toggle="dropdown" style="color: rgb(119, 119, 119); margin-top: 5px; --darkreader-inline-color:#bdb8af;" class="dropdown-toggle" data-darkreader-inline-color="">
            <span class="glyphicon glyphicon-user"></span>
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a href="#" title="Profile">Profile</a>
            </li>
            <li>
              <a href="{{ url_for('logout') }}" title="Logout">Logout </a>
            </li>
          </ul>
        </li>
{% endif %}

        <li class="pull-right">
      <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        </li>
          </ul>
    </div>
    <div class="visible-xs-block clearfix"></div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-left">
        <li><a href="{{ url_for('index') }}" title="Home">Home</a></li>
      </ul>
    </div>
  </div>
</nav>
{% endblock %}

{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <div class="alert alert-info" role="alert" style="margin-left: -40px;">{{ message }}</div>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}
    </div>
{% endblock %}

{% block scripts %}
    {{super()}}
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script> -->
    <!-- Leaflet library (call after Leaflet CSS) -->
    <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js" integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og==" crossorigin="anonymous"></script>
    <!-- Leaflet Coordinates plugin -->
    <script src="{{url_for('static', filename='Leaflet.Coordinates-0.1.5.min.js')}}"></script>
    <script src="{{url_for('static', filename='dnd_map.js')}}"></script>

    {% block page_scripts %}
    {% endblock %}
{% endblock %}